model IEnumerable<Category> 
@{
    ViewData["Title"] = "Index";
}

<div class="constainer p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
           <i class="bi bi-plus-circle"></i> &nbsp Create new Category
        </a>
        </div>
    </div>
</div>
<br /><br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
            
        <tr>
            <th>
             <div class="text-md-center"> 
               ID
             </div>
            </th>
           <th>
               <div class="text-md-center">
                 Name
                </div>
           </th>
            <th>
               <div class="text-md-center">
                 Project Name
               </div>
            </th>
            <th>
               <div class="text-md-center">
                 Start Date
               </div>
            </th>
            <th>
               <div class="text-md-center">
                 Edit
               </div>
            </th>
            <th></th>
         </tr>
            
    </thead>
    <tbody>
        @foreach(var obj in Model)
            {
                <tr>

                   <td with="25%">
                        <div class="text-md-center">
                          @obj.ID
                       </div>
                   </td>
                    <td with="25%">
                        <div class="text-md-center">
                          @obj.Name
                        </div>
                    </td>
                    <td with="25%">
                        <div class="text-md-center">
                          @obj.DisplayOrder
                        </div>
                    </td>
                    <td with="25%">
                        <div class="text-md-center">
                          @obj.CreatedDate
                        </div>
                    </td>
                    <td>
                        <div class="text-md-center">
                            <div class="w-75 btn-group" role="group">
                               <a asp-controller="Category" asp-action="Edit" asp-route-ID="@obj.ID"
                               class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                                <a asp-controller="Category" asp-action="Delete" asp-route-ID="@obj.ID"
                               class="btn btn-warning mx-2"><i class="bi bi-trash3"></i>Delete</a>
                            </div>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
</table>